@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;600&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
    list-style: none;
}



body{
    background-color:rgb(192, 192, 192);
    color: white;
    text-align: center;
    
}
main{
    background-color: rgb(221, 144, 0);
    height: 92vh;
    border-bottom: 10px solid black;
}
.container{
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
}

.logo{
    width: 50%;
    
}

.gif_naruto{
    position: absolute;
    left: 0;
    top: 10%;
    margin-left: 2%;

    width:15%;

    position: fixed;
}

.gif_sasuke{
    position: absolute;
    right: 0;
    top: 10%;
    margin-right: 2%;

    width: 15%;

    position: fixed;
}

.rasen{
    position: absolute;
    top: 70%;
    left: 20%;

    width: 10%;

    animation: animate 3s ease infinite;
}

@keyframes animate{
    0%, 100%{
        transform: rotate(180deg);
    }

    50%{
        transform: translateX(500%);
    }
   

    
}

.contents h2{
    margin-top: 5%;
    margin-bottom: 8%;
    font-size: 5rem;
    color: black;
}


.image{
    width: 30%;
}



.infos{
    font-size: 1.5rem;
    margin-bottom: 10rem;
    
}

.infos h5{
    margin-top: 3%;
    font-size: 4rem;
    margin-bottom: 1rem;
    
}

.infos .desc{
    font-size: 1.8rem;
    margin-bottom: 2%;
    
}

.infos .hab{
    margin-bottom: 2%;
    font-size: 1.8rem;
}

.infos .vila{
    font-size: 3rem;
    padding-bottom: 10%;
    border-bottom: 1px solid pink;
}