
.ID61bd1dbc918f12c17b9c646e{
    color: green;
}

.ID61bd1dbc918f12c17b9c646f {
    color: green ;
}

.ID61bd1dbc918f12c17b9c6470 {
    color: blue;
}
.ID61bd1dbc918f12c17b9c6471{
    color: rgba(255, 255, 255, 0.041);
}
.ID61bd1dbc918f12c17b9c6472 {
    color: green;
}
.ID61bd1dbc918f12c17b9c6473 {
    color: green;
}
.ID61bd1dbc918f12c17b9c6474 {
    color: rgba(255, 255, 255, 0.041);
}
.ID61bd1dbc918f12c17b9c6475 {
    color: brown;
}
.ID61bd1dbc918f12c17b9c6476 {
    color: green;
}
.ID61bd1dbc918f12c17b9c6477{
    color: green;
}
.ID61bd1dbc918f12c17b9c6478 {
    color: green;
}
.ID61bd1dbc918f12c17b9c6479 {
    color: green;
}
.ID61bd1dbc918f12c17b9c647a {
    color: rgba(255, 255, 255, 0.144);
}
.ID61bd1dbc918f12c17b9c647b {
    color: green;
}
.ID61bd1dbc918f12c17b9c647c {
    color: green;
}

.ID61bd1dbc918f12c17b9c647d{
    color: rgba(255, 255, 255, 0.144);
}

.ID61bd1dbc918f12c17b9c647e {
    color: green;
}
.ID61bd1dbc918f12c17b9c647f {
    color: rgb(0, 174, 255);
}
.ID61bd1dbc918f12c17b9c6480 {
    color: green;
}

.ID61bd1dbc918f12c17b9c6482 {
    color: rgba(255, 255, 255, 0.041);
}


.ID61bd1dbc918f12c17b9c6471:hover{
    color: red;
}

.ID61bd1dbc918f12c17b9c6474:hover{
    color: red;
}

.ID61bd1dbc918f12c17b9c6482:hover{
    color: red;
}